

/*Juegos de grid: http://cssgridgarden.com/#es*/


/*Lo primero que debemos hacer es agregar el display grid al contenedor del layout*/
.container{
  display: grid;
  /*posteriormente añadimos la cantidad de columnas y el tamaño de cada una, en este ejemplo definire 4 columnas con la unidad de medida "1fr" lo que indican que ocuparan proporcionalmente el tamaño total del layout*/
  grid-template-columns: 1fr 1fr 1fr 1fr;

  /*para definir las filas se hace un procedimiento similar, aqui nos encontramos con 2 terminos, el implicit y explicit grid, el implicit es el tamaño y configuración que tiene por default nuestro grid y el explicit es el que nosotros definimos*/
  grid-template-rows: 1fr 1fr;

  /*tambien podemos definir filas y columnas en una sola linea de la siguiente forma, esta vez utilizaremos el metodo repeat para no tener que escribir varias veces el mismo valor*/
  /*grid-template: filas / columnas*/
  grid-template: 60px 2000px 100px  / minmax(100px,250px) minmax(300px,1fr) minmax(100px,200px);
  /*la función "minmax()" permite definir el valor minimo y el valor maximo del elemento*/

}
/*<<2. DISPLAYS>>*/
/*En este ejemplo harémos un grid hijo(subgrid) dentro del 4 elemento del grid padre de la siguiente forma*/
/*seleccionamos el elemento con una pseudoclase de css*/
.item:nth-of-type(4){
  background: red;
  display: grid;
  grid-template: repeat(2, 1fr)  / repeat(3, 1fr)
}




/*<<3.ESPACIADOS ENTRE FILAS Y COLUMNAS>>*/
/*grid lo ha pensado todo, para esto nos dispone de la siguiente propiedad para agregar espaciados entre columnas y filas, esta propiedad la aplicamos dentro de nuestro contenedor del grid layout*/

.container{
  /*con la siguiente propiedad declaro cuanto espacio quiero entre columnas*/
  grid-column-gap: 10px;
  /*con la siguiente propiedad declaro cuanto espacio quiero entre filas*/
  grid-row-gap: 10px;
  /*podemos asignar espaciado de filas y columnas con 1 sola propiedad*/
  /*grid-gap: filas columnas ;*/
  grid-gap: 10px 10px;

  /*ver información de grid-auto en: https://scrimba.com/p/pWqLHa/cBq3PsP*/
  grid-auto-rows: 75px;
  grid-auto-flow: dense;
}


/*<<4.DEFINIENDO AREAS DEL GRID LAYOUT>>*/
/*En este caso tenemos un layout de 3 columnas y 3 filas(9 items), asi que definiremos el template de la siguiente forma]*/

.container{
  /*como tenemos tres filas y tres columnas definimos las areas de acuerdo a esto de la siguiente forma*/
  grid-template: repeat(3, 1fr)  / repeat(3, 1fr);

  grid-template-areas: "header header header"
                       "menu1 contenido menu2"
                       "footer footer footer"
  /*en el html definimos las areas correspondientes osea una etiqueta por seccion, ejemplo div para header, menu1, contenido, menu2 y footer (5etiquetas)                  */
/*a cada etiqueta le colocaremos su clase correspondiente para que grid asigne el area ej: <div class="item header">Header</div>*/
}

/*ahora le asignamos a cada una de las clases el area que va a ocupar del grid template de la siguiente forma, esta propiedad solo se puede aplicar a los hijos de un grid container(elemento que contiene display:grid)""*/
.header{
  grid-area: header;
  position: fixed;
  width: 100%;
  height: 40px;
  background: white;
}
.menu1{
  grid-area: menu1;
}
.contenido{
  grid-area: contenido;
}
.menu2{
  grid-area: menu2;
}
.footer{
  grid-area: footer;
}


/*<<5.DEFINIENDO EL TAMAÑO DE COLUMNAS Y FILAS DENTRO DE UN GRID>>*/
/*Con la propiedad "grid-column" definimos el tamaño de 1 columna, dandole como parametro un inicio y un fin de la columna*/
/*podemos definir como criterios las lineas o los espacios del grid para esta propiedad, en el siguiente ej, la columna inicia en la linea 6 y a partir de esta ocupa 2 espacios del grid*/
.item:nth-of-type(3){
  background: red;
  grid-column: 6 / span 2;
  grid-row: 6 / span 2;
}


/*si escribe ambos grid-column and grid-row es demasiado para ti, cuando hay una forma mas corta para hacerlo. */
/*grid-area acepta 4 valores separados por barras: grid-row-start, grid-column-start, grid-row-end, grid-column-end.*/

/*un ejemplo de esto sería grid-area: 1 / 1 / 3 / 6;.*/


/*<<6.NOMBRANDO LINEAS DEL GRID LAYOUT>>------------------------------------------------------------*/
/*de la siguiente forma podemos dar nombres a las lineas de nuestras filas y columnas para ubicarnos mas facilmente en el grid al momento de definirlas*/

.container{
  grid-template-columns: [inicio]1fr [line1]1fr [line2]1fr [line3]1fr[final];
  grid-template-rows: [inicio]1fr [line1]1fr[final];
}

/*y hacemos utilización de esto de la siguiente manera*/
.item:nth-of-type(1){
  grid-column: inicio / span 3;
  grid-row: linea2 / span 2;
}


/*<<7.ALINEACIÓN DE CONTENIDO>>*/

  /*los siguientes metodos son para alinear todos los elementos dentro de los items del grid*/

  /*Reciben los siguientes valores*/
  /*stretch estira nuestro contenido al espacio que nos de el grid*/
  /*justify-items: start end center stretch;*/
  /*justify-items: start end center stretch;*/

  /*justify-items: center;*/
  /*align-items: ;*/



  /*tambien podemos alinear todo el contenido del grid (cuadricula) con los siguientes comandos*/
  /*justify-content | align-content: start end center stretch space-around space-between space-evenly; */

  justify-content: space-evenly;

}

.ete{
/*para alinear el contenido dentro de 1 item del grid, lo hacemos de la siguiente forma*/

/*alineación horizontal*/
/*justify-self:start end ;*/

justify-self:center ;

/*alineacion verticar*/
/*align-self: start;*/

align-self: center;

}
